header {
    display: flex;
    justify-content: flex-end;
}

.nav {
    text-decoration: none
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-box {
    background-color: #FFBF27;
    border: 2px solid black;
    padding: 20px;
    border-radius: 0px;
    width: 30em;
    text-align: left;
}

.signup-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-box button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-box button:hover {
    background-color: darkgray;
}